[submodule "enet"]
	path = enet
	url = https://github.com/zpl-c/enet.git
[submodule "hash-library"]
	path = hash-library
	url = https://github.com/stbrumme/hash-library.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
